<div class="about">
    <div class="about__container">
        <h1>Hi, I am</h1>
        <h1>Om Prakash Yadav</h1>
        <div>
            I am a <div class="about__container__auto-type" appTypingEffect="Frontend Developer" [typingSpeed]="100">
            </div>
        </div>

        <p>I am a Software Engineer with over 1.5 years of experience, currently serving as Frontend Engineer at
            Backbase in Hyderabad. My expertise spans across frontend and full stack development, emphasizing
            performance and accessibility. Throughout my career, I have proficiently utilized various programming
            languages, frameworks, and tools including Angular, TypeScript, JavaScript, HTML, CSS, Java, RxJS, Git,
            Spring Boot, Responsive Design, Chrome Developer Tools, Bootstrap CSS, Tailwind CSS, CI/CD pipelines, Node
            Package Manager, SEO tools, GraphQL, CSS animation, Scalable Vector Graphics, Webpack, and Progressive Web
            Apps.</p>
    </div>
</div>